{% import "macros.html" as macros %}
<div x-show="page === 'names'">
    <div class="flex justify-end mt-4" x-data x-show="!$store.global.loading">
        <button class="bg-red-500 text-white mr-2 px-4 py-2 rounded hover:bg-red-600 hover:shadow-lg"
                x-data
                @click="$store.global.loading = false;$store.global.names = []"
                title="Clear Names">
            Reset
        </button>
        <button class="bg-blue-500 text-white px-4 py-2 rounded shadow hover:bg-blue-600 hover:shadow-lg"
                x-data
                @click="namesSubmit().then(() => {})" title="Generate Labels">
            Submit
        </button>
    </div>
    <div x-data x-show="$store.global.names.length > 0">
        <div class="flex flex-col justify-center items-center w-full mt-4 mb-2">
            <h4 class="text-xl font-bold w-full text-center">Names</h4>
            <p class="text-gray-600 italic">Click to remove</p>
        </div>
      {{ macros.item_tags("Remove Name", "removeName", "$store.global.names") }}

    </div>
</div>
