<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Generate Instrument Labels</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap"
          rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
          rel="stylesheet">
    <style>
        body {
            font-family: Cabin, sans-serif;
        }
    </style>
</head>
<body>
<header class="py-4 px-12 bg-indigo-600 text-white shadow-xl flex justify-center">
    <h1 class="text-2xl font-bold tracking-wide">Create Instrument Labels</h1>
</header>
<div class="mx-auto shadow rounded max-w-md p-2 mt-5" x-data="{page: 'numbers'}">
    <div class="font-bold text-red-600 text-lg" x-data x-show="$store.global.error">
        <span x-data x-text="$store.global.error"></span>
    </div>
    {% include "_nav.html" %}
    {% include "_number_form.html" %}
    {% include "_name_form.html" %}
    <div class="flex justify-end mt-4 font-bold text-lg" x-data
         x-show="$store.global.loading">
        Generating Labels, please wait...
    </div>
    {% include "_number_submit.html" %}
    {% include "_name_submit.html" %}
</div>

</body>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js"
        defer></script>
<script src="https://cdn.jsdelivr.net/npm/@ryangjchandler/spruce@2.x.x/dist/spruce.umd.js"></script>
<script>
    Spruce.store('global', {
        names: [],
        numbers: [],
        loading: false,
        error: null,
    }, false);

    function createPDFforDownload(data, fileName) {
        const el = document.createElement('a')
        el.href = URL.createObjectURL(data)
        el.setAttribute('download', fileName)
        el.style.display = 'none';
        document.body.appendChild(el)

        el.click();

        document.body.removeChild(el);
    }

</script>
{% include "_numbersjs.html" %}
{% include "_namesjs.html" %}
</html>